* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--shape-background);
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 0;
}

:root {
  --font-logo: 'Leckerli One', cursive;
  --font-heading: 'Baloo 2', sans-serif;
  --font-body: 'Open Sans', sans-serif;

  --font-logo-size: 40px;
  --font-logo-weight: 400;

  --font-heading-md-size: 28px;
  --font-heading-md-weight: 700;

  --font-heading-sm-size: 18px;
  --font-heading-sm-weight: 700;

  --font-body-md-size: 16px;
  --font-body-md-weight-regular: 400;
  --font-body-md-weight-semibold: 600;

  --font-body-sm-size: 14px;
  --font-body-sm-weight-regular: 400;
  --font-body-sm-weight-semibold: 600;

  --font-body-xs-size: 12px;
  --font-body-xs-weight-regular: 400;
  --font-body-xs-weight-semibold: 600;

  --line-height-default: normal;

  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  --accent-purple: #B259FF;
  --accent-fuschia: #FF59F9;
  --accent-pink: #FF598B;
  --accent-orange: #FF8B59;
  --accent-yellow: #FFCD59;
  --accent-lime: #E1FF59;
  --accent-green: #59FF91;
  --accent-cyan: #59FFF9;
  --accent-navy: #6A59FF;

  --feedback-danger: #FF5959;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;
}


.input-wrapper {
    display: grid;
    font-family: var(--font-body);
    label {
      font-size: var(--font-body-sm-size);
      font-weight: var(--font-body-sm-weight-regular);
      color: var(--text-body);
      padding-bottom: 0.75rem;
    }
    input {

        font-size: var(--font-body-md-size);
        font-weight: var(--font-body-md-weight-regular);
        color: var(--input-placeholder);
        padding-left: 1rem;
        border: none;
        outline: none;
        height: 3rem;
        background-color: var(--input-base);
        border-radius: 8px;
    }
}